{% extends 'basic.html' %}
{% block contentblock %}
<div class="wrapper">
    <div class="button-bar">
        <ul>
            <li>
                <button type="button" class="btn btn-primary">sepal length:sepal width</button>
            </li>
            <li>
                <button type="button" class="btn btn-primary">sepal length:petal length</button>
            </li>
            <li>
                <button type="button" class="btn btn-primary">sepal length:petal width</button>
            </li>
            <li>
                <button type="button" class="btn btn-primary">sepal width:petal length</button>
            </li>
            <li>
                <button type="button" class="btn btn-primary">sepal width:petal width</button>
            </li>
            <li>
                <button type="button" class="btn btn-primary">petal length:petal width</button>
            </li>
        </ul>

<!--        <button type="button" class="btn btn-primary">Главный</button>-->
<!--        <button type="button" class="btn btn-primary">Главный</button>-->
<!--        <button type="button" class="btn btn-primary">Главный</button>-->
    </div>
    <div>
        <h1>Iris analysis page</h1>
        <div style="align-self: center; width: 35rem; height: 35rem;">
            <canvas id="myChart" width="35rem" height="35rem"></canvas>
        </div>
        <script>
            var data;

            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/irisdata', false);

            xhr.onreadystatechange = function() {
                if (xhr.readyState != 4) {
                    return
                }
                if (xhr.status === 200) {
                    data = JSON.parse(xhr.responseText);
                } else {
                    console.log('err', xhr.responseText)
                }
            }
            xhr.send();

            var ctx = document.getElementById('myChart');

            var myChart = new Chart(ctx, {
                type: 'scatter',
                data: {
                    labels: ['Red', 'BLue', 'Green'],
                    datasets: [{
                        label: 'setosa',
                        data: data['dataset'][0]['sepal length (cm):sepal width (cm)'].slice(0, 50),
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    },
                    {
                    label: 'versicolor',
                        data: data['dataset'][0]['sepal length (cm):sepal width (cm)'].slice(50, 100),
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    },
                    {
                    label: 'virginica',
                        data: data['dataset'][0]['sepal length (cm):sepal width (cm)'].slice(100, 150),
                        backgroundColor: 'rgba(0, 227, 73, 0.2)',
                        borderColor: 'rgba(0, 227, 73, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                    }
                }
            });
        </script>
    </div>
    <div class="count-bar">
        This is count bar
    </div>
</div>
{% endblock %}